.hero {
    height: 100vh;
    background-color: #EFEAE0;
    display: flex;
    flex-direction: column;
  }
  
  .hero h1 {
    font-size: 3rem;
  }
  .absolute-image {
    position: absolute;    /* Размещает картинку относительно ближайшего родительского контейнера с position: relative */
    top: 20px;             /* Отступ сверху от границы экрана */
    right: 20px;           /* Отступ справа от границы экрана */
    bottom: 20px;          /* Отступ снизу от границы экрана */
    left: 700px;            /* Отступ слева от границы экрана */
  
    width: 800px;          /* Устанавливает фиксированную ширину картинки */
    height: 800px;         /* Устанавливает фиксированную высоту картинки */
  
    object-fit: cover;     /* Сохраняет пропорции картинки, обрезая лишнее, чтобы полностью заполнила пространство */
  }
  .artoyz-image-style{
    position: absolute;    /* Размещает картинку относительно ближайшего родительского контейнера с position: relative */
    top: -60px;             /* Отступ сверху от границы экрана */
    right: 400px;           /* Отступ справа от границы экрана */
    bottom: 20px;          /* Отступ снизу от границы экрана */
    left: 80px;            /* Отступ слева от границы экрана */
  
    width: 600px;          /* Устанавливает фиксированную ширину картинки */
    height: 600px;         /* Устанавливает фиксированную высоту картинки */
  
    object-fit: cover;
  }

  .absolute-image-korob1 {
    position: absolute;    /* Размещает картинку относительно ближайшего родительского контейнера с position: relative */
    top: 500px;             /* Отступ сверху от границы экрана */
    right: 100px;           /* Отступ справа от границы экрана */
    bottom: 20px;          /* Отступ снизу от границы экрана */
    left: 400px;            /* Отступ слева от границы экрана */
  
    width: 300px;          /* Устанавливает фиксированную ширину картинки */
    height: 300px;         /* Устанавливает фиксированную высоту картинки */
  
    object-fit: cover;     /* Сохраняет пропорции картинки, обрезая лишнее, чтобы полностью заполнила пространство */
  }

  .absolute-image-korob2 {
    position: absolute;    /* Размещает картинку относительно ближайшего родительского контейнера с position: relative */
    top: 620px;             /* Отступ сверху от границы экрана */
    right: 100px;           /* Отступ справа от границы экрана */
    bottom: 20px;          /* Отступ снизу от границы экрана */
    left: 180px;            /* Отступ слева от границы экрана */
  
    width: 250px;          /* Устанавливает фиксированную ширину картинки */
    height: 250px;         /* Устанавливает фиксированную высоту картинки */
  
    object-fit: cover;     /* Сохраняет пропорции картинки, обрезая лишнее, чтобы полностью заполнила пространство */
  }

  .absolute-image-korob3 {
    position: absolute;    /* Размещает картинку относительно ближайшего родительского контейнера с position: relative */
    top: 800px;             /* Отступ сверху от границы экрана */
    right: 100px;           /* Отступ справа от границы экрана */
    bottom: 20px;          /* Отступ снизу от границы экрана */
    left: 250px;            /* Отступ слева от границы экрана */
  
    width: 300px;          /* Устанавливает фиксированную ширину картинки */
    height: 300px;         /* Устанавливает фиксированную высоту картинки */
  
    object-fit: cover;     /* Сохраняет пропорции картинки, обрезая лишнее, чтобы полностью заполнила пространство */
  }
  
  .hero button {
    background: #98AEFA;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
  }
  
  .hero button:hover {
    background: #555;
  }
  